### Assignment-1 
### Name:G.Dheekshith Kumar 
### Reg No:21BPS1461
### Campus:VIT Chennai

### Task-1

In [1]:
import pandas as pd
import numpy as np

In [2]:
d = {'Cars':['i10','i20','Creta','Venue','Verna','Aura','Xcent','Alcazar','Kona','Ionicq 5'],'Lanch Year':['2011','2011','2015','2019','2012','2020','2014','2021','2017','2023'],'Price':['8.51','11.88','19.20','13.48','12','8.90','7.80','21.24','23.84','45.95'],'Fuel Tank':['Petrol','Diesel','Diesel','Diesel','Diesel','Petrol','Petrol','Diesel','Electric','Electric'],'Tyre':['Bridge Stone','MRF','MRF','Bridge Stone','Ceat','MRF','JK','Ceat','MRF',np.nan]}

In [3]:
d

{'Cars': ['i10',
  'i20',
  'Creta',
  'Venue',
  'Verna',
  'Aura',
  'Xcent',
  'Alcazar',
  'Kona',
  'Ionicq 5'],
 'Lanch Year': ['2011',
  '2011',
  '2015',
  '2019',
  '2012',
  '2020',
  '2014',
  '2021',
  '2017',
  '2023'],
 'Price': ['8.51',
  '11.88',
  '19.20',
  '13.48',
  '12',
  '8.90',
  '7.80',
  '21.24',
  '23.84',
  '45.95'],
 'Fuel Tank': ['Petrol',
  'Diesel',
  'Diesel',
  'Diesel',
  'Diesel',
  'Petrol',
  'Petrol',
  'Diesel',
  'Electric',
  'Electric'],
 'Tyre': ['Bridge Stone',
  'MRF',
  'MRF',
  'Bridge Stone',
  'Ceat',
  'MRF',
  'JK',
  'Ceat',
  'MRF',
  nan]}

In [4]:
df = pd.DataFrame(d)
df

       Cars Lanch Year  Price Fuel Tank          Tyre
0       i10       2011   8.51    Petrol  Bridge Stone
1       i20       2011  11.88    Diesel           MRF
2     Creta       2015  19.20    Diesel           MRF
3     Venue       2019  13.48    Diesel  Bridge Stone
4     Verna       2012     12    Diesel          Ceat
5      Aura       2020   8.90    Petrol           MRF
6     Xcent       2014   7.80    Petrol            JK
7   Alcazar       2021  21.24    Diesel          Ceat
8      Kona       2017  23.84  Electric           MRF
9  Ionicq 5       2023  45.95  Electric           NaN

In [5]:
df.shape

(10, 5)

### Task-2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cars        10 non-null     object
 1   Lanch Year  10 non-null     object
 2   Price       10 non-null     object
 3   Fuel Tank   10 non-null     object
 4   Tyre        9 non-null      object
dtypes: object(5)
memory usage: 532.0+ bytes

### Task-3

In [7]:
df.describe()

       Cars Lanch Year Price Fuel Tank Tyre
count    10         10    10        10    9
unique   10          9    10         3    4
top     i10       2011  8.51    Diesel  MRF
freq      1          2     1         5    4

### Task-4

In [8]:
df.iloc[4,0:]

Cars           Verna
Lanch Year      2012
Price             12
Fuel Tank     Diesel
Tyre            Ceat
Name: 4, dtype: object

### Task-5

In [9]:
df.isnull().any()

Cars          False
Lanch Year    False
Price         False
Fuel Tank     False
Tyre           True
dtype: bool